name: Pull Request Checks

on: pull_request

jobs:
  source-tests:
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        os: [ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node and act cli
        uses: ./.github/actions/setup-node-and-act
        with:
          node-version: ${{ matrix.node-version }}
          default-runner-size: medium
      - name: Install packages
        run: npm ci
      - name: Test
        run: npm test
        env:
          LOGNAME: username

  coverage:
    runs-on: ubuntu-latest  
    steps:
      - uses: actions/checkout@v2
      - name: Setup node and act cli
        uses: ./.github/actions/setup-node-and-act
        with:
          node-version: 14.x
          default-runner-size: medium
      - name: test report
        id: coverage
        uses: ArtiomTr/jest-coverage-report-action@v2
        env:
          LOGNAME: username
        with:
          output: report-markdown
      - uses: marocchino/sticky-pull-request-comment@v2
        if: always()
        with:
          message: ${{ steps.coverage.outputs.report }}
